<ion-header>
  <ion-toolbar>
    <ion-title>
      Cálculo do IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Informe seus dados:</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Peso (em kg):</ion-label>
          <ion-input type="number" [(ngModel)]="peso"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Altura (em m):</ion-label>
          <ion-input type="number" [(ngModel)]="altura"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="black" expand="full" (click)="calcularIMC()">Calcular</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">IMC:</ion-label>
          <ion-input type="number" [value]="exibeIMC()" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>